.maincard {
    @include flex(row,flex-start);
    position: relative;
    width: calc(90% - 20px);
    max-width: 33rem;
    height: 8.75rem;
    background: linear-gradient(300deg, rgba(#eee,1) 0%, rgba(#fff,1) 100%);
    border-radius: 10rem 1rem 1rem 10rem;
    margin: 1rem 1.25rem 0;
    padding: 10px;
    @include shadows(.25, .6rem, .3rem);
    &__imgdiv {
        position: relative;
        justify-self: flex-start;
        max-height: 8.75rem;
        min-width: 8.75rem;
        border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        &:after {
            position: absolute;
            content: "";
            border-radius: 50%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include shadows(.25, .3rem, .15rem, true);
        }
    }
    &__link {
        &:after {
            @include link-elements;
        }
    }
    &__img {
        object-fit: cover;
        height: 8.75rem;
        width: 8.75rem;
    }
    &__body {
        @include flex(column, space-between);
        height: calc(100%);
        width: calc(100% - 8.75rem);
        padding-left: 0.625rem;
    }
    &__desc {
        margin: 0 0 .5rem;
        width: 100%;
        overflow: hidden;
    }
    &__price {
        align-self: flex-end;
        font-family: Roboto-regular;
        font-size: 1.2rem;
        margin: 0;
    }
    & h2 {
        font-family: Roboto-regular;
        font-size: 1.3rem;
        margin: 0 0 .5rem;
        color: $color-secondary;
    }
}