.title {
    font-family: Roboto-regular;
    font-size: 1.8rem;
    margin: .5rem 0;
    color: $color-secondary;
}

.appTitle {
    font-family: Roboto-medium;
    font-size: 2rem;
    color: $color-txt-secondary;
}