.order {
    @include flex(column, flex-start);
    width: 100%;
    &__line {
        @include flex(row, space-between);
        width: calc(100% - 2rem);
        height: 5rem;
        margin: .5rem 0;
        @include shadows;
        border-radius: .8rem;
    }
    &__img {
        object-fit: cover;
        width: 3rem;
    }
}