$color-primary: #8f5bfe;
$color-secondary: #e58e18;
$color-tertiary: #99E2D0;
$color-txt-primary: black;
$color-txt-secondary: white;
$color-bg-primary: white;
$color-bg-secondary: #F6F6F6;
$color-bg-tertiary: #EAEAEA;
$color-bg-quaternary: #353535;